.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  padding: 24px 0;
}
.logo__dark {
  color: var(--logo-color);
}
.header__menu-button {
  margin-left: auto;
}
.menu-button {
  background-color: transparent;
  border: none;
  @include media-breakpoint(767px) {
    display: none;
  }
}
.menu-button__icon {
  fill: var(--logo-color);
  width: 40px;
  height: 40px;
}
.header__menu-button:focus .menu-button__icon {
  fill: var(--accent-color);
}
